{% extends 'base.html.twig' %}

{% block title %}entree{% endblock %}

{% block body %}

    {# Entête #}
    <section class="row head-title">
        <div class="col-12  text-center head-title-overlay py-4">
            <h1>entree</h1>
        </div>
    </section>

    <section class="my-5">

    </section>

    


{% endblock %}