{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

{# Affichage des messages flashs de type "success" si il y en a #}
{% include 'partials/flashes/success.html.twig' %}
{# Affichage des messages flashs de type "error" si il y en a #}
{% include 'partials/flashes/error.html.twig' %}

<h1>Nous contacter</h1>
{{ form(contactForm) }}

{% endblock %}