{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Erreur 403 : Accès Interdit{% endblock %}

{# Contenu de la page #}
{% block body %}

  
<section class="row head-title head-menu">
    <div class="col-12  text-center head-title-overlay ">
        <h1>Erreur</h1>
    </div>
</section>

<div class="row">
    <div class="col-12 text-center">
        <h1 class="my-5">Erreur 403 : Accès Interdit</h1>
    </div>
</div>

    

{% endblock %}
